---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Pricing from '../components/Pricing.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Home">
  <Navigation />
  <main>
    <Hero />
    <Features />
    <Pricing />
    <CTA />
  </main>
  <Footer />
</Layout>
